%li
  %strong #{t('workarea.admin.fields.cost')}:
  - if @sku.cost.blank?
    = t('workarea.admin.cards.attributes.no_value')
  - else
    = number_to_currency @sku.cost
%li
  %strong #{t('workarea.admin.fields.margin')}:
  - if @sku.cost.blank?
    = t('workarea.admin.cards.attributes.no_value')
  - else
    = number_to_percentage @sku.margin, precision: 2